extends layouts/main-layout.pug

block content   
    
    if errorMessage
        span.errorMessage #{errorMessage}
    else 
        script.
            let chatId = '!{chat._id}';
        - let chatOwner = group
        .chatPageContainer
            .chatTitleBarContainer
                +createChatImage(chat, userLoggedIn)
                span#chatName(data-toggle="modal", data-target="#chatNameModal")
                if userLoggedIn._id !== chatOwner
                    span#leaveGroup.i.fas.fa-sign-out-alt(data-toggle="modal", data-target="#leaveGroupModal")
            .mainContentContainer
                .chatContainer
                    .chatMessages
                    .footer
                        textarea.inputTextbox(name="messageInput", placeholder="Type a message...")
                        button.sendMessageButton
                            i.fas.fa-paper-plane
        +createChatNameModal(chat)
        +createPinnedPostModal()

block scripts
    script(src="/js/chatPage.js")