extends layouts/main-layout.pug

block content    
    +createUserPostForm(userLoggedIn)
    .imageSpinner
    .postsContainer
    +createReplyModal(userLoggedIn)
    
block scripts
    script(src="/js/home.js")